*{
    box-sizing: border-box;
}
.guts-pic {
    width: 100%;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    object-fit: cover;
    position: fixed;
    
}
.guts-pic img {
    margin:0 ;
    opacity: 0.3;
    
}
.about-guts{
    width:60%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0;
    position:static;
    
}
.box{
    
    background-color: rgba(206, 154, 154,1);    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5%;
    margin :2%;
    border-radius: 10px;
    border: 1px groove grey;
    box-shadow: 5px 5px 5px 5px grey;
    opacity: 0.85;    
    
}
.key-value-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly; 
    width: 80%;
}
.key-value {
    display: flex;
    /* align-items:space-evenly ; */
    align-content: center;
    justify-content: space-between;
    padding: 1% 10%;
    
}


.card{
    position: relative;
    margin: 1%; 
    width:clamp(100px,80%,300px); 
    min-height: 400px;
    height: 100%;
    background: transparent;
    perspective: 1000px;
    
    
}

.card-inner{
    
    width: 100%;
    min-height: 400px;
    height: auto;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
    
} 




.card:hover .back{
    transform: none;
}
.card:hover  .card-inner{
    transform: rotateY(360deg);
}
.front , .back{
    width: 100%;
    height: 100%;
    transition: all transform 0.5s;
    background-color: aliceblue;
    opacity: 1;
    position: absolute; 
    display: flex;  
    flex-direction: column;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
.front{
    background-color:rgb(255, 218, 224);
    box-shadow: 10px 10px 5px 5px grey;
    border: 10px solid rgb(223, 135, 150);
    border-radius: 8px;
}
.back{
    border-radius:10px;
    background-color: rgb(83, 156, 219);
    border: ridge 5px gray;
    transform: rotateY(180deg);
    color:white;
    padding:10px;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration:wavy;
}


.front img{
    
    width: 80%;
    aspect-ratio: 1;
    margin:5% auto;
    border: 2px groove black;
}
.line {    
    width: 100%;
    height:1px;
    background-image: linear-gradient(90deg,grey,black 70%,grey);

}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1%;
    text-align: justify;
    display: flex;
    justify-content: space-around;
}
.bold{

    /* background-image: linear-gradient(black,black); */
    background-color: black;
    width:90%;
    margin: 2% 0;
    height: 3px;
}




