#practise{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#goFullScreen{
    position: relative;
    float: right;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    border: solid 0.1px grey ;
    border-radius: 10px;
}

.line{
    width: 100%;
}