@import "/assets/styles/styles.css";

.root{
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    --text-light: #fff;
    --text-dark: #000;
    --bg-dark: repeating-radial-gradient(rgb(63, 185, 155), rgb(10, 87, 110));
    --bg-light: rgb(234, 234, 245);
    --box-color-light:rgb(33, 95, 102);
    --box-text-color-light:var(--text-dark);
}

body{
    margin:0;
    background-image: var(--bg-dark);
    display: flex;
    justify-content: center;
}


.main{
    padding: 20px;
    width:clamp(300px,100%,768px);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    
    border-radius: 10px;
    box-shadow:inset 0.1em 0.1em 0.7em 0.2em var(--box-color-light), 0.0em 0em 1em 0.5em var(--box-color-light);
    position: relative;
    top:18vh;
}
#pfp{
    display: flex;
    justify-content: center;
}
#pfp img {
    width: 80%;
    padding: 10%;
}

