@import "/assets/styles/styles.css";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    --text-light: #fff;
    --text-dark: #000;
    --bg-dark: repeating-radial-gradient(rgb(247, 27, 27), rgb(148, 21, 21));
    --bg-light: rgb(230, 230, 236);
    --box-color-light:rgb(190, 184, 184);
    --box-text-color-light:var(--text-dark);
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    background-image: var(--bg-dark);
    color: var(--text-light);
}



.main {
    position: absolute;
    width: 90%;
    margin: 10%;
    top:10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.home {
    /* position: absolute; */
    width: fit-content;
    justify-content: space-between;
    height: 80%;
    display: flex;
    align-items: center;
    /* padding: 70px 10% 0 ; */
    left: 20%;
    top: 20%;
}

.home-content {
    max-width: 600px;
    z-index: 10;
}

.home-content h3 {
    font-size: 2em;
    font-weight: 1000;
}

/* Table of Content */
.toc{
    border-radius:20px;
    background-color: var(--bg-light);
    color:var(--text-dark);
    padding:1em;
    background-image: url("/assets/images/download.jpeg");
    background-size: cover;
    background-blend-mode:screen;  
    background-position: center;
    
}
ul{
    list-style: none;
}
.toc ul li{
    border-bottom-style:inset;
    padding:0.2em;
}
.light .toc{
    background-color: var(--box-color-light);
    --box-text-color-light:var(--text-light);
}

.ball {

    display: inline-block;
    width: 15em;
    height: 15em;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    box-shadow: .1em .1em .1em .1em #062745;
    animation: ball-bounce 1s infinite ease-in-out;

}

.ball-shadow {
    position: relative;
    width: 15em;
    height: 5em;
    border-radius: 50%;
    --radius: 50%;
    background-image: radial-gradient(rgb(129, 127, 127) 10%, grey);
    animation: shadow-bounce 1s infinite ease-in-out;
    z-index: -1;
    translate: 0 100%;
    box-shadow:inset 0px 0px 1em 1em rgb(180, 162, 162);

}

.ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
    filter: blur(5px);
    z-index: 2;
}

@keyframes ball-bounce {
    0% {
        translate: 0px 50%;
    }

    50% {
        translate: 0;
    }

    100% {
        translate: 0px 50%;
    }
}

@keyframes shadow-bounce {
    0% {

        transform: scale(1);
        background-image: radial-gradient(rgb(63, 62, 62) 50%, grey, rgb(165, 164, 164), white);
    }

    10% {

        transform: scale(0.9);
        background-image: radial-gradient(rgb(63, 62, 62) 45%, grey, rgb(165, 164, 164), white);
    }

    20% {

        transform: scale(0.8);
        background-image: radial-gradient(rgb(63, 62, 62) 40%, grey, rgb(165, 164, 164), white);
    }

    30% {
        transform: scale(0.7);
        background-image: radial-gradient(rgb(63, 62, 62) 35%, grey, rgb(165, 164, 164), white);
    }

    40% {

        transform: scale(0.6);
        background-image: radial-gradient(rgb(63, 62, 62) 30%, grey, rgb(165, 164, 164), white);
    }

    50% {

        transform: scale(0.5);
        background-image: radial-gradient(rgb(63, 62, 62) 25%, grey, rgb(165, 164, 164), white);
    }

    60% {

        transform: scale(0.6);
        background-image: radial-gradient(rgb(63, 62, 62) 30%, grey, rgb(165, 164, 164), white);
    }

    70% {

        transform: scale(0.7);
        background-image: radial-gradient(rgb(63, 62, 62) 35%, grey, rgb(165, 164, 164), white);
    }

    80% {
        transform: scale(0.8);
        background-image: radial-gradient(rgb(63, 62, 62) 40%, grey, rgb(165, 164, 164), white);
    }

    90% {

        transform: scale(0.9);
        background-image: radial-gradient(rgb(63, 62, 62) 45%, grey, rgb(165, 164, 164), white);
    }

    100% {

        transform: scale(1);
        background-image: radial-gradient(rgb(63, 62, 62) 50%, grey, rgb(165, 164, 164), white);
    }
}

