@import "/assets/styles/nav.css";
@import "/assets/Fonts/fontawesome-free-6.4.0-web/css/all.css";
@import "https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float|fire";

@media (width>1200px) {

    .navbar a p,
    .toggle-button {
        font-weight: 700;
        font-size: 1.3em;
    }
}

@media (width<1200px) {

    a.nav-link {
        margin: 10px;
    }

    .navbar a p,
    .toggle-button {
        font-weight: 600;
        font-size: 0.8em;
        
    }
}



/* for mobile phones */


@media (width<768px) {
    .header {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .header-m {
        width: 100vw;
        height: 10vh;
        font-size: 50px;
        margin: 20px;
        visibility: visible;
    }
}