*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}

body{
    background-color: rgb(1, 1, 31);
    margin:0;
    color:white;
    max-width: 100%;
    max-height: 100vh;
    
}


.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background: transparent;
    font-size: larger;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header-m{
    width: 100%;
    height: 10vh;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    /* margin:auto; */
    z-index: 101;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}
.navbar a:hover{
    color: cyan;
}

.home{
    position: absolute;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: center;
    /* padding: 70px 10% 0 ; */
    z-index:10;
    right:0;
}

.toggle-button{
    margin-left: auto;
}

.home-content{
    max-width: 600px;
    z-index:11;

}
.home-content h3{
    font-size:32px;
    font-weight: 1000;
}
@media (width>1200px){

}
@media (width<1200px) {
    nav.navbar {
        display: inline-block;
        
    }
    .navbar a{
        padding: 0%;
    }

}



/* for mobile phones */


@media (width<768px){
    .header{
        width:0;
        height:0;
        visibility: hidden;
    }
    .header-m {
        width: 100%;
        height: 10vh;
        font-size: 50px;
        margin:20px;
        visibility:visible;
    }
    .img-content{
        width:100vw;
        height: auto;
    }
    #pfp-bg{
        width:100vw;
        height:100vh;
    }
    
    
    
}

.light{
    background-color: rgb(230, 230, 236);
    color:black;
}

.light .navbar a{
    display: inline-block;
    font-size: 25px;
    color :black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}